*{
    margin: 0;
}
fieldset{
    border:none;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 2%;

}
legend{
    font-weight: bold;
    font-size: 30px;
    text-align: center
}
table, td, th{
    border: 1px solid #000;
    text-align: center;
}